body{
    background-color: rosybrown;
}

h1{
    background-color: rosybrown;
    color: #ffffff;
    font-family: Consolas;
}

.center{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:25%;
    border: 3px solid #3a3c4a;
}

a{
    background-color: #b4667c;
    box-shadow: 0 5px 0 #58242c;
    color:#ffffff;
    padding: 1em 1.2em;
    position: relative;
    text-decoration: none;
    font-family: 'Trebuchet MS'
    /* text-transform: uppercase; */
}

a:hover{
    background-color: #d35075;
    cursor: pointer;
}

a:active{
    /* background-color: black; */
    box-shadow: none;
    top:5px;
}

/* a:visited {
    background-color: #ccc;
} */

/* 
Is it good practice to put all styles in one whole file???

*/
.deffont{
    color:#e8d7c9; 
    font-family: 'Trebuchet MS'; 
    font-size: 14pt;
}

/* Horizontal Navbar Styles */
.horizontalul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #b4667c;
    /* background-color: #ddd; */
}
.horizontalli{
    /* display: inline; */
    float:left;
}
.horizontala{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Vertical Navbar Styles */
.verticalnavul{
    padding: 0;
    width: 200px;
    background-color:#b4667c;
  }

  .verticalnavli{
    display: block;
    color: #000;
    text-decoration: none;
  }

  .verticalnava{
    display: block;
  }
